/* Tailwind css */
@tailwind base;
@tailwind components;
@tailwind utilities;


body, html {
    font-family: "Inter", sans-serif;
    font-size: 16px;
}

.slick-dots li button:before {
    font-size: 10px !important;
    color: #0D6EFD !important;
}

.collaps {
    max-height:2000px !important;
    transition: max-height 0.5s ease-in-out;
}

.tabs_slider .slick-slider,
.tabs_slider .slick-slider .slick-list,
.tabs_slider .slick-slider .slick-list .slick-track,
.tabs_slider .slick-slider .slick-list .slick-track .slick-slide > div
{
    height: 100%;
}


